@model WebApplication.Models.contact

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Имя</dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>Фамилия</dt>
        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>Организация</dt>
        <dd>
            @Html.DisplayFor(model => model.organization.name)
        </dd>

        <dt>Должность</dt>
        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>Телефон</dt>
        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>E-mail</dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>Заметки</dt>
        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.contactID }) |
    @Html.ActionLink("Удалить", "Delete", new { id = Model.contactID }) |
    @Html.ActionLink("Назад к списку контактов", "Index")
</p>
