@model WebApplication.Models.tech_models

@{
    ViewBag.Title = "Подробно";
}

<h2>Подробно</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Фирма</dt>
        <dd>
            @Html.DisplayFor(model => model.tech_brands.name)
        </dd>

        <dt>Модель</dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>Тип</dt>
        <dd>
            @Html.DisplayFor(model => model.type)
        </dd>

        <dt>Характеристики</dt>
        <dd>
            @Html.DisplayFor(model => model.characteristics)
        </dd>

        <dt>Описание</dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.modelID }) |
    @Html.ActionLink("Удалить", "Delete", new { id = Model.modelID }) |
    @Html.ActionLink("Назад к списку моделей", "Index")
</p>
